<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/book-appointment-bg.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/book-appointment-bg.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Book Appointment</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            Booking an appointment at our pharmacy store is quick and easy. Simply provide your personal details, preferred date, and reason for the appointment. Our team of expert pharmacists will be ready to address your health concerns and offer personalized advice for your medications. Your well-being is our priority, and we look forward to providing you with exceptional healthcare services during your scheduled appointment.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/customer.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/customer.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Customer Record</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Our pharmacy store maintains a comprehensive customer record, including personal info, prescriptions, allergies, and transactions. This data enables personalized services, monitors medication adherence, and ensures your privacy and well-being. Trust us for tailored healthcare solutions with confidence and care.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/pharmacy-prescriptions.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/pharmacy-prescriptions.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Prescription</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">
                            At our pharmacy store, your health and safety are paramount. We take every precaution to ensure a secure and hygienic environment, following strict sanitation practices and adhering to health guidelines. Our knowledgeable pharmacists are always available to provide expert advice on medications. Your well-being is our top priority, and we strive to offer a comfortable and safe experience for all customers. Trust us to maintain a space where you can access healthcare services with confidence and peace of mind.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/delivery-boy.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/delivery-boy.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Fastest Delivery</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Experience the fastest delivery of medicines with our pharmacy. We prioritize timely access to prescriptions and over-the-counter medications. Our efficient delivery system ensures prompt dispatch, reaching your doorstep with care in the shortest time possible. Trust us for reliable and swift medication delivery, putting your health first.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be a Part
                        <br />
                        Of Our
                        <br />
                        Pharmacy!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>